@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@import "tailwindcss";

/* 전역 폰트 설정 */
body {
    font-family: 'Pretendard', sans-serif;
}

/* PWA Install Modal fadeIn 애니메이션 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pwa-install-modal-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}
